.gitignore export-ignore
.gitattributes export-ignore
phpunit.xml.dist export-ignore
phpcs.xml.dist export-ignore
tests export-ignore
CONTRIBUTING.md export-ignore
.travis.yml export-ignore
.scrutinizer.yml export-ignore
phpmd.xml.dist export-ignore