language: php

sudo: false

php:
  - 7.1

install:
  - composer self-update
  - composer install --no-interaction --prefer-source

script:
  - ./vendor/bin/phpcs
  - ./vendor/bin/phpunit
  - ./vendor/bin/phpmd src text phpmd.xml.dist
  - ./vendor/bin/phpcpd src
