{
    "source": {
        "directories": [
            "src"
        ]
    },
    "mutators": {
        "@default": true,
        "global-ignoreSourceCodeByRegex": [
            ".*->recordMetric.*"
        ]
    }
}