<?xml version="1.0"?>
<ruleset name="best it - PHP_CodeSniffer">
    <description>The coding standard for our PHP_CodeSniffer itself.</description>

    <rule ref="./src/Standards/BestIt/ruleset.xml" />

    <config name="testVersion" value="7.4" />

    <file>./build/</file>
    <file>./src/</file>
    <file>./tests/</file>

    <exclude-pattern>*/Fixtures/*.php</exclude-pattern>

    <!-- So many copies of the original code from the sniffer/slevomat. Ignore it! -->
    <exclude-pattern>./src/Standards/BestIt/CodeSniffer/AbstractFileDecorator.php</exclude-pattern>
    <exclude-pattern>./src/Standards/BestIt/CodeSniffer/File.php</exclude-pattern>
    <exclude-pattern>*/AbstractFileDecorator.php</exclude-pattern>
    <exclude-pattern>*/SniffTestCase.php</exclude-pattern>
</ruleset>
