<?xml version="1.0"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         name="best it - PHPMD"
         xmlns="http://pmd.sf.net/ruleset/1.0.0"
         xsi:schemaLocation="http://pmd.sf.net/ruleset/1.0.0 http://pmd.sf.net/ruleset_xml_schema.xsd"
         xsi:noNamespaceSchemaLocation="http://pmd.sf.net/ruleset_xml_schema.xsd">
    <description>PHPMD ruleset for best it PHP_CodeSniffer</description>

    <rule ref="rulesets/cleancode.xml/StaticAccess">
        <properties>
            <property
                name="exceptions"
                value="\BestIt\CodeSniffer\Helper\ClassHelper, \BestIt\CodeSniffer\Helper\TokenHelper,
                    \BestIt\CodeSniffer\Helper\UseStatementHelper, Closure, \PHP_CodeSniffer\Util\Common,
                    \SlevomatCodingStandard\Helpers\FunctionHelper, \SlevomatCodingStandard\Helpers\NamespaceHelper,
                    \SlevomatCodingStandard\Helpers\PropertyHelper, \SlevomatCodingStandard\Helpers\SuppressHelper,
                    \SlevomatCodingStandard\Helpers\TokenHelper, \SlevomatCodingStandard\Helpers\TypeHintHelper,
                    \SlevomatCodingStandard\Helpers\UseStatement"
            />
        </properties>
    </rule>

    <rule ref="rulesets/cleancode.xml">
        <exclude name="ElseExpression" />
        <exclude name="IfStatementAssignment" />
        <exclude name="MissingImport" />
        <exclude name="StaticAccess" />
        <!-- Disable opinionated things blocking us -->
        <exclude name="BooleanArgumentFlag" />
        <!-- This one seems kind of buggy for PHP 7.x codes -->
        <exclude name="UndefinedVariable" />
    </rule>

    <rule ref="rulesets/controversial.xml"/>

    <rule ref="rulesets/design.xml">
        <exclude name="NumberOfChildren" />
    </rule>

    <rule ref="rulesets/naming.xml/LongVariable">
        <properties>
            <property name="maximum" value="25"/>
        </properties>
    </rule>

    <rule ref="rulesets/naming.xml">
        <exclude name="LongVariable" />
    </rule>

    <rule ref="rulesets/unusedcode.xml"/>

    <exclude-pattern>Fixtures</exclude-pattern>
    <exclude-pattern>SniffTestCase</exclude-pattern>

    <!-- So many copies of the original code from the sniffer/slevomat. Ignore it! -->
    <exclude-pattern>AbstractFileDecorator.php</exclude-pattern>
</ruleset>
