<?xml version="1.0"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         name="best it - PHPMD"
         xmlns="http://pmd.sf.net/ruleset/1.0.0"
         xsi:schemaLocation="http://pmd.sf.net/ruleset/1.0.0 http://pmd.sf.net/ruleset_xml_schema.xsd"
         xsi:noNamespaceSchemaLocation="http://pmd.sf.net/ruleset_xml_schema.xsd">
    <description>PHPMD ruleset for best it PHP_CodeSniffer</description>

    <rule ref="rulesets/cleancode.xml/StaticAccess">
        <properties>
            <property
                name="exceptions"
                value="Closure, \PHP_CodeSniffer\Util\Common, \SlevomatCodingStandard\Helpers\FunctionHelper,
                    \SlevomatCodingStandard\Helpers\NamespaceHelper, \SlevomatCodingStandard\Helpers\PropertyHelper,
                    \SlevomatCodingStandard\Helpers\SuppressHelper, \SlevomatCodingStandard\Helpers\TokenHelper,
                    \SlevomatCodingStandard\Helpers\TypeHintHelper, \SlevomatCodingStandard\Helpers\UseStatementHelper"
            />
        </properties>
    </rule>

    <rule ref="rulesets/cleancode.xml">
        <!-- Disable opinionated things blocking us -->
        <exclude name="BooleanArgumentFlag" />
        <exclude name="ElseExpression" />
        <!-- Overwrote it before -->
        <exclude name="StaticAccess" />
    </rule>

    <rule ref="rulesets/codesize.xml"/>
    <rule ref="rulesets/controversial.xml"/>
    <rule ref="rulesets/design.xml"/>
    <rule ref="rulesets/naming.xml"/>
    <rule ref="rulesets/unusedcode.xml"/>

    <!-- So many copies of the original code from the sniffer/slevomat. Ignore it! -->
    <exclude-pattern>AbstractFileDecorator.php</exclude-pattern>
</ruleset>
